// Write your overrides
.layout-wrapper.layout-nav-type-horizontal .layout-page-content {
  padding-block: 0; 
}

.layout-page-content {
  margin:0;
  padding-inline: 0;
}

.layout-content-width-boxed .layout-page-content {
  inline-size: 100%;
  margin-inline: 0; 
  max-inline-size: 2650px;
}
